## Number of Rainy Days

In [17]:
import pandas
import pandasql


filename = './data/weather_underground.csv'
weather_data = pandas.read_csv(filename)
print weather_data.columns

Index([u'date', u'maxpressurem', u'maxdewptm', u'maxpressurei', u'maxdewpti',
       u'since1julheatingdegreedaysnormal', u'heatingdegreedaysnormal',
       u'since1sepcoolingdegreedaysnormal', u'hail', u'since1julsnowfallm',
       u'since1julheatingdegreedays', u'maxvisi',
       u'since1sepheatingdegreedaysnormal', u'heatingdegreedays', u'mindewptm',
       u'since1sepheatingdegreedays', u'maxwspdm', u'since1julsnowfalli',
       u'since1sepcoolingdegreedays', u'snow', u'meanvism', u'meandewptm',
       u'snowdepthm', u'meanvisi', u'fog', u'snowdepthi', u'minvism',
       u'since1jancoolingdegreedays', u'minvisi', u'coolingdegreedaysnormal',
       u'gdegreedays', u'maxwspdi', u'meanwindspdi', u'meanpressurei',
       u'monthtodateheatingdegreedaysnormal', u'meanwindspdm',
       u'meanpressurem', u'tornado', u'mindewpti', u'mintempi', u'meandewpti',
       u'rain', u'mintempm', u'minhumidity', u'precipsource', u'minwspdi',
       u'meanwdird', u'meanwdire', u'minwspdm', u'monthtodatesnowfalli',
       u'monthtodatecoolingdegreedaysnormal', u'monthtodatesnowfallm',
       u'maxhumidity', u'coolingdegreedays', u'maxtempm', u'minpressurei',
       u'monthtodatecoolingdegreedays', u'maxtempi', u'minpressurem',
       u'humidity', u'precipi', u'snowfalli',
       u'since1jancoolingdegreedaysnormal', u'precipm', u'snowfallm',
       u'thunder', u'monthtodateheatingdegreedays', u'meantempi', u'maxvism',
       u'meantempm'],
      dtype='object')

In [16]:
def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT COUNT(*) FROM weather_data WHERE rain = 1;
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

print num_rainy_days(filename)

   count(*)
0        10

## Temperature on Foggy and Nonfoggy Days

In [19]:
def max_temp_aggregate_by_fog(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return two columns and
    two rows - whether it was foggy or not (0 or 1) and the max
    maxtempi for that fog value (i.e., the maximum max temperature
    for both foggy and non-foggy days).  The dataframe will be 
    titled 'weather_data'. You'll need to provide the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT fog, MAX(maxtempi) FROM weather_data GROUP BY fog;
    """
    
    #Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

print max_temp_aggregate_by_fog(filename)

   fog  max(maxtempi)
0  0.0           86.0
1  1.0           81.0

## Mean Temperature on Weekends

In [ ]:
def avg_weekend_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - the average meantempi on days that are a Saturday
    or Sunday (i.e., the the average mean temperature on weekends).
    The dataframe will be titled 'weather_data' and you can access
    the date in the dataframe via the 'date' column.
    
    You'll need to provide  the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    Also, you can convert dates to days of the week via the 'strftime' keyword in SQL.
    For example, cast (strftime('%w', date) as integer) will return 0 if the date
    is a Sunday or 6 if the date is a Saturday.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    your query here
    """
    
    #Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends